/dist/*
!/dist/.gitkeep
/node_modules
/server
/export
/package-lock.json
/composer.lock
.DS_Store
/.env
/.ENV
*.log
/tests
/.srv/*
!/.srv/custom.ini

/vendor/
mix-manifest.json
build
.phplint-cache

/.idea/*
!/.idea/scopes
!/.idea/runConfigurations
